<div class="main-content">
    <div class="container-fluid">
      <button mat-raised-button class="btn btn-primary" (click)="openDialog()">Nuevo</button>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title">Tabla Semestres</h4>
              <p class="card-category">Gestionar Semestres</p>
            </div>
            <div class="card-content table-responsive table-full-width">
              <table class="table">
                <thead class="text-danger">
                  <th>Semestre</th>
                  <th>Gestión</th>
                  <th>Acciones</th>
                </thead>
                <tbody>
                  <tr *ngFor="let semestre of semestres">
                    <td>{{ semestre.semestre }}</td>
                    <td>{{ semestre.gestion }}</td>
                    <td>
                      <button mat-raised-button class="btn btn-warning btn-sm"
                        (click)="editSemestre(semestre.id)">Editar</button>
                      <button mat-raised-button class="btn btn-danger btn-sm"
                        (click)="confirmDelete(semestre.id)">Borrar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>